@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

h1, h2, h3, h4, h5, h6, button, a, p {
  font-family: "Plus Jakarta Sans", serif!important;
}

nav .btn-primary {
  background-color: #D10F00;
  color: white;
  font-weight: bold;
  font-size: 36px;
  height: 88px;
  padding: 0 38px;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}

nav .btn-primary:hover {
  background-color: #300300;
  transform: scale(1.1);
}

nav ul li a {
  font-size: 36px;
  font-weight: bold;
}

nav ul {
  display: flex;
  column-gap: 32px;
}

nav {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: space-between;
  padding-right: 74px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.clear .back-icon {
  display: none;
}

@media only screen and (max-width: 1360px) {
  nav ul li a {
    font-size: 28px!important;
  }
  
  nav .btn-primary {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1260px) {
  nav ul li a {
    font-size: 24px!important;
  }
  
  nav .btn-primary {
    font-size: 28px;
  }
}


@media only screen and (max-width: 1160px) {
  nav ul li a {
    font-size: 20px!important;
  }
  
  nav .btn-primary {
    height: 77px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 1060px) {
  nav ul li a {
    font-size: 18px!important;
  }
  
  nav .btn-primary {
    height: 67px;
    font-size: 24px;
  }

  nav a img {
    height: 150px;
  }
}


@media only screen and (max-width: 960px) {
  nav ul li a {
    font-size: 16px!important;
  }
  
  nav .btn-primary {
    height: 57px;
    font-size: 18px;
    border-radius: 8px;
  }

  nav a img {
    height: 100px;
  }

  nav {
    height: 150px;
  }
}

@media only screen and (max-width: 860px) {
  nav {
    display: flex;
  }

  nav ul {
    display: none;
  }

  nav ul.open {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 20%;
    row-gap: 12px;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    font-size: 48px!important;
  }

  nav .btn-primary {
    display: none;
  }

  nav .btn-primary.open {
    display: block!important;
    position: absolute;
    bottom: 80px;
    width: 80%;
    left: 10%;
    font-size: 32px;
    height: 88px;
  }

  .menu-icon {
    display: block!important;
  }

  .clear.open {
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
  }

  .clear.open .back-icon {
    left: 60px;
    position: absolute;
    top: 60px;
    transform: rotate(180deg);
    cursor: pointer;
  }

  .clear.open .back-icon {
    display: block!important;
  }
  
}

@media only screen and (max-width: 460px) {
  
  nav .btn-primary {
    position: absolute;
    bottom: 80px;
    width: 80%;
    left: 10%;
    font-size: 24px;
    height: 68px;
  }
}

main {
  max-width: 1170px;
  margin: auto;
  position: relative;
  height: 442px;
}

main h3 {
  margin-top: 63px;
  font-size: 58px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 14px;
  max-width: 1170px;
  margin: auto;
}

main h1 {
  font-size: 84px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  max-width: 1170px;
  margin: auto;
}

main h2 {
  font-size: 68px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  max-width: 1170px;
  margin: auto;
}

.btn-outline-primary {
  position: absolute;
  border-radius: 54px;
  border: 2px solid #FF0000;
  width: 394px;
  font-size: 36px;
  font-weight: bold;
  color: #FF0000;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  height: 88px;
  right: 20%;
  bottom: 0;
  transition: all 0.4s ease-in-out;
}

.btn-outline-primary:hover {
  background-color: #FF0000;
  color: white;
  transform: scale(1.1);
}

#service {
  padding: 0px 60px;
}

#service h2 {
  margin-top: 54px;
  font-size: 53px;
  max-width: 1221px;
}

#service h2 strong {
  color: #D10F00;
}

h1.title {
  color: #5C5D5F;
  font-size: 140px;
  font-weight: 700;
  width: 100%;
}

#service h1.title {
  text-align: center;
}

#service .vehicles {
  margin-top: -80px;
  z-index: 999;
  position: relative;
  background-color: white;
  width: 100%;
  display: flex;
  column-gap: 30px;
}

#service .vehicles .vehicle {
  width: calc((100% / 4) - (30px * 3));
}

#packages {
  margin-top: 148px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#packages .package {
  display: flex;
  width: 100%;
}

#packages .package .cities {
  width: 50%;
  display: flex;
  padding: 33px 40px;
  column-gap: 30px;
  border-right: 3px solid #191919;
  align-items: center;
}

#packages .package .package-content {
  padding: 72px 61px 43px 87px;
}

#packages .package .cities ul li {
  font-size: 32px;
}

#packages .package .package-content {
  width: 50%;
}

#packages .package .package-content button {
  width: 539px;
  height: 80px;
  background-color: #D10F00;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

#packages .package .package-content h4 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 23px;
}

#packages .package .package-content h4 span {
  color: #000;
  opacity: 0.7;
  font-weight: normal;
  font-size: 24px;
}

#packages .package .package-content p {
  color: #000;
  opacity: 0.7;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 26px;
}

.package {
  margin-top: 79px;
}

section#contact {
  margin-top: 300px;
  display: flex;
  background-color: #D9D9D9;
}

section#contact .contact-content {
  margin-top: -120px;
  width: 60%;
  padding-left: 61px;
}

section#contact .contact-map {
  width: 40%;
  margin-top: -150px;
}

section#contact .contact-map p {
  font-size: 32px;
  font-weight: 500;
  margin-top: 38px;
  margin-bottom: 100px;
}

section#contact .contact-map image {
  width: 100%;
  height: 100%;
}

section#contact h2 {
  font-size: 83px;
  font-weight: 900;
}

.socials {
  display: flex;
  column-gap: 50px;
  margin-top: 30px;
  margin-bottom: 138px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
}

footer * {
  font-size: 32px;
  color: #000;
  font-weight: bold;
}

